Implementing apriori from apyori

In [ ]:
#pip install apyori

In [2]:
import pandas as pd
import numpy as np
from apyori import apriori

In [5]:
df = pd.read_csv("C:\\Users\\hp\\Desktop\\apriopri\\Market_Basket_Optimisation.csv", header=None)

In [16]:
df.head()
#df.shape (7501,20)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,chutney,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,turkey,avocado,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,mineral water,milk,energy bar,whole wheat rice,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [26]:
#df.fillna(0, inplace=True)
'''aprori needs data in list format for transactions'''
transactions= []
for i in range(0, len(df)):
    transactions.append([str(df.values[i,j]) for j in range(0,20) if str(df.values[i,j]) !="0"] )

In [28]:
transactions[1]

['burgers', 'meatballs', 'eggs']

In [10]:
df.values[1,2]

'eggs'

In [29]:
#apriori called wrt support , confidence and lift
## min_support = 0.003 -> means selecting items with min support of 0.3%
## min_confidance = 0.2 -> means min confidance of 20% 
## min_lift = 3  
## min_length = 2 -> means no. of items in the transaction should be 2 


rules= apriori(transactions, min_support=0.003, min_confidence=0.2, min_lift= 3,
               min_length= 2)
rules

In [30]:
df_results= pd.DataFrame(rules)
df_results

,items,support,ordered_statistics
0,"(light cream, chicken)",0.004533,"[((light cream), (chicken), 0.2905982905982905..."
1,"(mushroom cream sauce, escalope)",0.005733,"[((mushroom cream sauce), (escalope), 0.300699..."
2,"(pasta, escalope)",0.005866,"[((pasta), (escalope), 0.3728813559322034, 4.7..."
3,"(honey, fromage blanc)",0.003333,"[((fromage blanc), (honey), 0.2450980392156863..."
4,"(ground beef, herb & pepper)",0.015998,"[((herb & pepper), (ground beef), 0.3234501347..."
...,...,...,...
75,"(mineral water, ground beef, olive oil, spaghe...",0.003066,"[((ground beef, olive oil), (mineral water, sp..."
76,"(mineral water, pancakes, ground beef, spaghetti)",0.003066,"[((pancakes, ground beef), (mineral water, spa..."
77,"(mineral water, tomatoes, ground beef, spaghetti)",0.003066,"[((tomatoes, ground beef), (mineral water, spa..."
78,"(mineral water, milk, olive oil, spaghetti)",0.003333,"[((mineral water, milk, spaghetti), (olive oil..."
79,"(mineral water, milk, spaghetti, tomatoes)",0.003333,"[((milk, tomatoes), (mineral water, spaghetti)..."

In [31]:
support= df_results.support

In [45]:
support

0     0.004533
1     0.005733
2     0.005866
3     0.003333
4     0.015998
        ...
75    0.003066
76    0.003066
77    0.003066
78    0.003333
79    0.003333
Name: support, Length: 80, dtype: float64

In [35]:
df_results["ordered_statistics"][0]

[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.29059829059829057, lift=4.84395061728395)]

In [37]:
first_value=  []
second_value= []
third_value=  []
fourth_value= []
for i in range(df_results.shape[0]):
    single_list= df_results["ordered_statistics"][i][0]
    first_value.append(list(single_list[0]))
    second_value.append(list(single_list[1]))
    third_value.append(single_list[2])
    fourth_value.append(single_list[3])

In [47]:
lhs= pd.DataFrame(first_value)
rhs= pd.DataFrame(second_value)
confidence= pd.DataFrame(third_value, columns=["Confidence"])
lift= pd.DataFrame(fourth_value, columns=["Lift"])
df_final= pd.concat([lhs, rhs, support, confidence, lift], axis= 1)

In [48]:
df_final

,0,1,2,0,1,support,Confidence,Lift
0,light cream,None,None,chicken,None,0.004533,0.290598,4.843951
1,mushroom cream sauce,None,None,escalope,None,0.005733,0.300699,3.790833
2,pasta,None,None,escalope,None,0.005866,0.372881,4.700812
3,fromage blanc,None,None,honey,None,0.003333,0.245098,5.164271
4,herb & pepper,None,None,ground beef,None,0.015998,0.323450,3.291994
...,...,...,...,...,...,...,...,...
75,ground beef,olive oil,None,mineral water,spaghetti,0.003066,0.216981,3.632981
76,pancakes,ground beef,None,mineral water,spaghetti,0.003066,0.211009,3.532991
77,tomatoes,ground beef,None,mineral water,spaghetti,0.003066,0.261364,4.376091
78,mineral water,milk,spaghetti,olive oil,None,0.003333,0.211864,3.216994
79,milk,tomatoes,None,mineral water,spaghetti,0.003333,0.238095,3.986501

In [54]:
#df_final.fillna(value= " ", inplace=True)

In [49]:
df_final.columns= ['lhs', 1,2, 'rhs',3,'support', 'confidence', 'lift']

In [53]:
df_final

,lhs,1,2,rhs,3,support,confidence,lift
0,light cream,,,chicken,,0.004533,0.290598,4.843951
1,mushroom cream sauce,,,escalope,,0.005733,0.300699,3.790833
2,pasta,,,escalope,,0.005866,0.372881,4.700812
3,fromage blanc,,,honey,,0.003333,0.245098,5.164271
4,herb & pepper,,,ground beef,,0.015998,0.323450,3.291994
...,...,...,...,...,...,...,...,...
75,ground beef,olive oil,,mineral water,spaghetti,0.003066,0.216981,3.632981
76,pancakes,ground beef,,mineral water,spaghetti,0.003066,0.211009,3.532991
77,tomatoes,ground beef,,mineral water,spaghetti,0.003066,0.261364,4.376091
78,mineral water,milk,spaghetti,olive oil,,0.003333,0.211864,3.216994
79,milk,tomatoes,,mineral water,spaghetti,0.003333,0.238095,3.986501

In [55]:
df_final["lhs"]= df_final["lhs"] + str(", ") +df_final[1] + str(", ") +df_final[2]
df_final["rhs"]= df_final["rhs"] + str(", ") +df_final[3]

In [59]:
#df_final.drop(columns=[1,2,3], inplace=True)
## Showing top 10 items, based on lift.  Sorting in desc order
df_final.sort_values('lift', ascending=False).head(10)

,lhs,rhs,support,confidence,lift
70,"soup, frozen vegetables,","mineral water, milk",0.003066,0.383333,7.987176
69,"olive oil, frozen vegetables,","mineral water, milk",0.003333,0.294118,6.128268
52,"mineral water, whole wheat pasta,","olive oil,",0.003866,0.402778,6.115863
44,"tomato sauce, ,","ground beef, spaghetti",0.003066,0.216981,5.535971
3,"fromage blanc, ,","honey,",0.003333,0.245098,5.164271
0,"light cream, ,","chicken,",0.004533,0.290598,4.843951
2,"pasta, ,","escalope,",0.005866,0.372881,4.700812
24,"french fries, ground beef,","herb & pepper,",0.003200,0.230769,4.665768
61,"mineral water, frozen vegetables, chocolate","shrimp,",0.003200,0.328767,4.600900
66,"ground beef, frozen vegetables,","mineral water, milk",0.003733,0.220472,4.593788

Limitation of first approach was need to convert data in a list fomat. In real life a store has many thousands of transactations hence it is computationally expensive.

Apyori package is outdated.

Results are coming in less friendly format so their is a need for pre-processing.

Instead lets use mlxtend package. It generate frequent itemset and association rules both.