In [1]:
import pandas as pd
import numpy as np
from  bs4 import BeautifulSoup
import requests

In [2]:
reviews= []
stars= []
date= []
country= []

In [3]:
for i in range(1,36):
  page= requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
  soup =BeautifulSoup(page.content, "html5")
  for item in soup.find_all("div", class_="text_content"):
    reviews.append(item.text)

  for item in soup.find_all("div", class_="rating-10"):
    try:
      stars.append(item.span.text)
    except:
      print(f"Error on page {i}")
      stars.append("None")

  for item in soup.find_all("time"):
    date.append(item.text)

  for item in soup.find_all("h3"):
    country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 34
Error on page 35
Error on page 35

In [4]:
len(reviews)

3500

In [6]:
stars= stars[:3500]

In [7]:
df= pd.DataFrame({"reviews": reviews, "stars": stars, "date": date, "country": country})

In [8]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | British Airways is absolute ...,\n\t\t\t\t\t\t\t\t\t\t\t\t5,6th December 2024,United Kingdom
1,✅ Trip Verified | The flight time was changed ...,1,2nd December 2024,United Kingdom
2,✅ Trip Verified | I'm so fraustrated. My fli...,1,29th November 2024,United Kingdom
3,✅ Trip Verified | We have sat on this plane fo...,1,23rd November 2024,United Kingdom
4,Not Verified | British Airways stranding my w...,1,18th November 2024,United States

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   reviews  3500 non-null   object
 1   stars    3500 non-null   object
 2   date     3500 non-null   object
 3   country  3500 non-null   object
dtypes: object(4)
memory usage: 109.5+ KB

In [10]:
#importing data to csv
import os
cwd= os.getcwd()
df.to_csv(cwd+"/BA_reviews.csv")