In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
df= pd.read_csv('/content/BA_reviews.csv')

In [5]:
df.head()

,Unnamed: 0,reviews,stars,date,country,verified
0,0,✅ Trip Verified | British Airways is absolute ...,5.0,6th December 2024,United Kingdom,True
1,1,✅ Trip Verified | The flight time was changed ...,1.0,2nd December 2024,United Kingdom,True
2,2,✅ Trip Verified | I'm so fraustrated. My fli...,1.0,29th November 2024,United Kingdom,True
3,3,✅ Trip Verified | We have sat on this plane fo...,1.0,23rd November 2024,United Kingdom,True
4,4,Not Verified | British Airways stranding my w...,1.0,18th November 2024,United States,False

In [4]:
df['verified'] = df.reviews.str.contains('Trip Verified')

In [8]:
df['stars'].value_counts()

stars
1.0     886
2.0     407
3.0     401
8.0     339
10.0    281
7.0     272
9.0     262
5.0     246
4.0     234
6.0     170
Name: count, dtype: int64

In [12]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [13]:
#to review the verified trips only
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
lemma = WordNetLemmatizer()

review_data= df.reviews.str.strip("✅ Trip Verified |")

#create an empty list to collect cleaned data corpus
corpus =[]

#loop through each review, remove punctuations, small case it, join
for review in range(0, len(review_data)):
  review = re.sub('[^a-zA-Z]',' ', review_data[review])
  review = review.lower()
  review = review.split()
  review= [lemma.lemmatize(word) for word in review if not word in set(stopwords.words("english"))]
  review= " ".join(review)
  corpus.append(review)

In [14]:
df['corpus']= corpus

In [20]:
df.dtypes

Unnamed: 0             int64
reviews               object
stars                float64
date          datetime64[ns]
country               object
verified                bool
corpus                object
dtype: object

In [19]:
df.date = pd.to_datetime(df.date, format='mixed', errors='coerce')

In [27]:
df.isnull().value_counts()

Unnamed: 0  reviews  stars  date   country  verified  corpus
False       False    False  False  False    False     False     3497
Name: count, dtype: int64

In [24]:
df.drop(df[df.country.isnull()== True].index, axis= 0, inplace =True)

In [26]:
df.drop(df[df.stars.isnull()== True].index, axis= 0, inplace =True)

In [43]:
df.shape

(3497, 6)

In [42]:
df.reset_index(drop= True, inplace= True)

In [40]:
df= df.drop(columns= ['Unnamed: 0'])

In [46]:
df.to_csv("cleaned BA.csv")